:root {
  --color-background: #f2f8f8;

  --color-text-main: #FFFFFF;
  --color-text-secondary: #0B3954;
  --color-text-third: #000000;
  --color-text-error: #C81D25;

  --color-card-background-feature: #BFD7EA;
  --color-card-background-bottom: #1F1F1F;
  --color-card-background-top: #0B3954;

  --color-button-background: #087E8B;
  --color-button-outline: #FFFFFF;
  --color-button-text: #FFFFFF;

  --color-date-card-background: #FFFFFF;
  --color-date-card-text: #FF5A5F;
  --color-date-card-border: #1F1F1F;
}