.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--color-text-secondary);
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

input.invalid {
  border-color: var(--color-date-card-text);
}

.new-expense__actions {
  height: 4rem;
  margin-top: 9px;
}

#exit-button {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  padding: 10px;
}