.expenses {
  padding: 1rem;
  background-color: var(--color-card-background-top);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

p.list-fallback{
  color: var(--color-text-main);
  text-align: center;
}