.button {
  font: inherit;
  border: 1px solid var(--color-button-outline);
  background: var(--color-button-background);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: --color-button-background-active;
  border-color: --color-button-background-active;
}

.button:focus {
  outline: none;
}